
# Created by https://www.toptal.com/developers/gitignore/api/bash
# Edit at https://www.toptal.com/developers/gitignore?templates=bash

#!! ERROR: bash is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/bash
